
ol {
    background-color: yellow;
   
}

ol li:nth-of-type(even){
    color: green
}

ol li:nth-of-type(odd){
    text-transform: uppercase;
}

h1, h2, h3 {
    color: red;
}

h1 em, h2 em, h3 em{
    font-size:40px;
    border: 1px black solid;
}
    
li {
    font-size: 20px
}
li em{
    font-weight: 900;
}

#lista-programacao li:nth-child(-n + 3){
    color: blue
}

.java{
    background-color: pink;
}

#lista-aliados li a:hover {
    font-weight: 900;
}

a.linkum:link:hover {
    color: orange;
}
a.linkum:visited:hover {
    color: orange;
}


a.linkdois:link:hover {
    color: green
}
a.linkdois:visited:hover {
    color: green;
}


a.linktres:link:hover {
    color: black
}
a.linktres:visited:hover {
    color: black;
}


a.linkquatro:link:hover {
    color: yellow
}
a.linkquatro:visited:hover {
    color: yellow
}


a.linkcinco:link:hover {
    color:green
}
a.linkcinco:visited:hover {
    color: green;
}