h1, p {
    text-align: center;
    font-family: monospace;


}

body{
    background-color: aqua;
}

.quests{
    font-size: 30px;
}


.twitch:hover{
    background-color: #5c16c5;
    border-radius: 10px;
    padding: 15px;
}

.twitch:active{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    background-color: black;
    color: #5c16c5;
}


.yt:hover{
    background-color: red;
    border-radius: 10px;
    padding: 15px;
}

.yt:active{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    background-color: black;
    color:red
}


.spotify:hover{
    background-color: green;
    border-radius: 10px;
    padding: 15px;
}

.spotify:active{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    background-color: black;
    color: green;
}

div{
    list-style: none;
    font-weight: 600;

}


