body {
  margin: 0;
  font-family: fuzzy bubbles;
}

.background {
  z-index: -1;
  left: 0px;
  top: 0px;
  position: fixed;
  width: 100%;
  object-fit: cover;
  height: 100%;
}

h1 {
  color: white;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#button {
  border-radius: 10px;
  border: 2px solid white;
  color: white;
  justify-content: center;
  width: 200px;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  font-family: fuzzy bubbles;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#button:hover {
  color: yellow;
  box-shadow: 0 0 10px yellow
}

#image {
  border-radius: 40px;
  box-shadow: 5px 5px 50px white ;
  border: 2px solid white;
}

#name {
  color: yellow;
  font-weight: 600;
  font-size: 35px;
}