

.super-mario {
  width: 250px;
  position:absolute;
  top: 100px;
}

.goomba {
  width: 200px;
  position: absolute;
  top: 500px;
  left: 40px;
}

.baloon {
  width: 300px;
  position:absolute;
  top: 300px;
  right: 450px;

}

.speech {
  font-size: 25px;
  position: absolute;
  top: 345px;
  right: 490px;
  z-index: 1;

}

.bowser {
  width: 500px;
  position: absolute;
  right: 10px;
  top: 400px;
}