.App {
  text-align: center;
}
body {
  background-color: grey;
}
.name {
 font-weight: 700;
 font-size: 30px;
 color: rgb(56, 180, 180);
 text-decoration: underline;
}

.email {
  font-size: 20px;
  font-weight: 500;
}

.img {
  border: 5px solid black;
  padding: 2px;
  border-radius: 10px;
}