h1 {
    text-decoration: underline;
    text-align: center;
    color:orange;
    font-size: 65px;
    font-family: sans-serif;
    }

  p {
    font-family: sans-serif;
    font-size: 3em;
    font-weight: 600;
    font-style: italic;
  }

  body {

    font-size:16px;
  }

  ul {
    letter-spacing: 1px;
    text-decoration: underline;
    background-color: blue;
    font-family: monospace;
    font-style: italic;
    font-weight: 700;
    line-height: 40px
  }

  .Cor-lista {
    background-color:white;
  }

  #vermelho {
    background-color: red;
  }
  #amarelo {
    background-color: yellow;
  }
  #marrom {
    background-color:rgb(80, 33, 33);
  }
